table, tr, th, td{
    
    border: 1px solid #ddd;
    border-collapse: collapse;
}
th,td{
    padding:10px;
    font-size: 25px;
}
.nav{
    margin:60px 150px;
}
.id{
    width: 80px;
    
}
.title,.lambai{
    width:180px;
}
.o{
    font-size: 35px;
    margin-left: 0;
}
